/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    main {
        font-size: 12px;
        line-height: 1.5;
    }

    header {
        width: 100%;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
        position: fixed;
        z-index: 1;
    }

    b {
        font-size: 150px;
        color: rgba(255, 255, 255, 255);
    }

    .tour {
        margin-top: 150px;
        width: 100%;
    }

    .tour__section {
        width: 100%;
        padding: 5px;
        border: 1px solid rgb(118, 118, 118);
        color: black;
        display: flex;
        background-color: #dadada;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    input {
        width: 80%;
        height: 30px;
        border-radius: 5px;
        border: 2px solid rgb(118, 118, 118);
    }  
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    main {
        font-size: 14px;
        line-height: 1.5;
    }

    header {
        width: 100%;
        top: -60px;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
        position: fixed;
        z-index: 1;
    }

    .tour {
        margin-top: 150px;
        width: 90%;
    }

    .tour__section {
        width: 90%;
        padding: 20px;
        border: 1px solid rgb(118, 118, 118);
        color: black;
        display: flex;
        background-color: #dadada;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    input {
        width: 70%;
        height: 30px;
        border-radius: 5px;
        border: 2px solid rgb(118, 118, 118);
    }
}